<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/cart.css" />

    <title>CART</title>
  </head>
  <body>
    <%- include('./partial/header') %>
    <section
      class="h-100 h-custom"
      style="background-color: #ffffff; margin-bottom: 180px; margin-top: 33px"
    >
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12">
            <div
              class="card card-registration card-registration-2"
              style="border-radius: 15px"
            >
              <div class="card-body p-0">
                <div class="row g-0">
                  <div class="col-lg-8">
                    <div class="p-5">
                      <div
                        class="d-flex justify-content-between align-items-center mb-5"
                      >
                        <% if (Array.isArray(product) && product.length > 0) {
                        %>
                        <h3 class="fw-bold mb-0 text-black">Shopping Cart</h3>
                        <h6 class="mb-0 text-muted">
                          <%=product.length%> items
                        </h6>
                      </div>

                      <hr class="my-4" />

                      <% product.forEach((item) => { %>

                      <div
                        class="col-md-3 col-lg-3 col-xl-2 d-flex justify-content-end"
                        style="padding-left: 600px"
                      >
                        <a
                          href=""
                          onclick="removeFromCart('<%= item.productId._id %>','<%= newcart._id %>')"
                          id="removeCart"
                          ><i
                            ><svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="15"
                              height="15"
                              fill="currentColor"
                              class="bi bi-trash"
                              viewBox="0 0 16 16"
                            >
                              <path
                                d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"
                              />
                              <path
                                d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"
                              /></svg></i
                        ></a>
                      </div>

                      <div
                        class="row mb-4 d-flex justify-content-between align-items-center"
                      >
                        <div class="col-md-2 col-lg-2 col-xl-2">
                          <% if (item.productId && item.productId.image &&
                          Array.isArray(item.productId.image) &&
                          item.productId.image.length > 0) { %>
                          <a href="/products?id=<%=item.productId._id%>">
                            <img
                              src="<%= item.productId.image[0]%>"
                              class="img-fluid rounded-3"
                              alt="<%= item.productId.name %>"
                          /></a>

                          <% } %>
                        </div>
                        <div class="col-md-3 col-lg-3 col-xl-3">
                          <h6 class="text-black mb-0 text-uppercase">
                            <%= item.productId.name %>
                          </h6>
                          <h6
                            class="text-muted text-lowercase"
                            style="font-size: 9px"
                          >
                            <%= item.productId.description %>
                          </h6>
                        </div>
                        <div class="col-md-4 col-lg-4 col-xl-4 d-flex">
                          <button
                            class="btn btn-light border"
                            type="button"
                            onclick="decrementQuantity('<%= item.productId._id %>','<%= newcart._id %>')"
                          >
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="16"
                              height="16"
                              fill="currentColor"
                              class="bi bi-dash"
                              viewBox="0 0 16 16"
                            >
                              <path
                                d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8"
                              />
                            </svg>
                          </button>
                          <input
                            class="form-control text-center quantity-input"
                            type="text"
                            width="9px"
                            value="<%= item.quantity %>"
                            id="quantity-<%= item.productId._id %>"
                            readonly
                          />
                          <button
                            class="btn btn-light border"
                            type="button"
                            onclick="incrementQuantity('<%= item.productId._id %>','<%= newcart._id %>','<%=item.productId.stock%>')"
                          >
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="16"
                              height="16"
                              fill="currentColor"
                              class="bi bi-plus"
                              viewBox="0 0 16 16"
                            >
                              <path
                                d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"
                              />
                            </svg>
                          </button>
                        </div>
                        <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                          <h6 class="mb-0">
                            &#8377;<%= item.productId.price %>
                          </h6>
                        </div>
                        <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                          <a href="#!" class="text-muted"
                            ><i class="fas fa-times"></i
                          ></a>
                        </div>
                      </div>
                      <p id="Alert"></p>

                      <hr class="my-4" />

                      <% }); %>
                      <div class="pt-5">
                        <h6 class="mb-0">
                          <a href="wishlist" class="text-body"
                            ><i class="fas fa-long-arrow-alt-left me-2"></i>View
                            Wishlist</a
                          >
                        </h6>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 bg-grey" style="font-family: tahoma">
                    <div class="p-5">
                      <h4 class="fw-bold mb-5 mt-2 pt-1">Summary</h4>
                      <hr class="my-4" />

                      <div class="d-flex justify-content-between mb-4">
                        <p style="color: grey">Sub-total</p>
                        <p>&#8377;<%= subtotal %></p>
                      </div>

                      <div class="d-flex justify-content-between mb-4">
                        <p style="color: grey">Shipping</p>
                        <p>Free</p>
                      </div>

                      <!-- <div class="d-flex justify-content-between mb-4">
                        <p style="color: grey">Discount</p>
                        <p>&#8377;</h5>
                      </div> -->

                      <div class="d-flex justify-content-between mb-4">
                        <p style="color: grey">Tax</p>
                        <p>&#8377;<%= gstAmount %></p>
                      </div>

                      <hr class="my-4" />

                      <div class="d-flex justify-content-between mb-5">
                        <h5>Total price</h5>
                        <p>&#8377;<%= TotalPrice %></p>
                      </div>

                      <button
                        type="button"
                        class="btn btn-dark btn-block btn-lg"
                        style="width: 274px; font-size: 16px"
                        data-mdb-ripple-color="dark"
                      >
                        <a href="selectaddress" style="color: azure">
                          PROCEED
                          <svg
                            style="color: #ffffff"
                            class="mb-1"
                            xmlns="http://www.w3.org/2000/svg"
                            width="20"
                            height="20"
                            fill="currentColor"
                            class="bi bi-arrow-right"
                            viewBox="0 0 16 16"
                          >
                            <path
                              fill-rule="evenodd"
                              d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"
                            />
                          </svg>
                        </a>
                      </button>
                      <!-- <h6 class="mt-4">Enter promo code</h6>
                      <div class="input-group mt-3 mb-4">
                        <input
                          type="text"
                          class="form-control border"
                          name=""
                          placeholder="Promo code"
                          id="couponCode"
                        />
                        <button
                          class="btn btn-light text-dark border"
                          onclick="applyCoupon()"
                        >
                          Apply
                        </button>
                      </div> -->
                      <p class="mt-3">
                        Do you have a discount coupon? Add in the next step.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <% } else { %>
              <div class="card-body cart">
                <div
                  class="col-sm-12 empty-cart-cls text-center"
                  style="margin-left: 200px"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="182"
                    height="186"
                    viewBox="0 0 182 186"
                    fill="none"
                  >
                    <g clip-path="url(#clip0_3039_24342)">
                      <path
                        d="M67.4009 176.307L9.61955 118.526C-3.20961 105.697 -3.20961 84.6433 9.61955 71.7138L67.4009 13.9325C80.2301 1.10332 101.284 1.10332 114.213 13.9325L171.995 71.7138C184.824 84.543 184.824 105.597 171.995 118.526L114.213 176.307C101.284 189.237 80.3304 189.237 67.4009 176.307Z"
                        fill="#FDE3E0"
                      ></path>
                      <path
                        d="M97.1534 135.613C96.5243 135.54 95.886 135.468 95.2568 135.404C95.3207 136.398 96.3328 147.804 108.104 149.518L108.378 147.658C98.667 146.245 97.3266 137.528 97.1534 135.613Z"
                        fill="#45AAAA"
                      ></path>
                      <path
                        d="M87.862 168.092L86.8772 166.642C91.2083 163.706 93.2599 159.366 92.9863 153.731C92.7766 149.436 91.2265 145.962 91.2083 145.926L92.804 145.197C92.8678 145.352 99.4602 160.223 87.862 168.092Z"
                        fill="white"
                      ></path>
                      <path
                        d="M101.676 168.092C103.166 168.092 104.375 166.884 104.375 165.393C104.375 163.903 103.166 162.694 101.676 162.694C100.185 162.694 98.9768 163.903 98.9768 165.393C98.9768 166.884 100.185 168.092 101.676 168.092Z"
                        fill="white"
                      ></path>
                      <path
                        d="M81.3699 154.916C82.8604 154.916 84.0688 153.708 84.0688 152.217C84.0688 150.727 82.8604 149.518 81.3699 149.518C79.8793 149.518 78.6709 150.727 78.6709 152.217C78.6709 153.708 79.8793 154.916 81.3699 154.916Z"
                        fill="#EC8BB9"
                      ></path>
                      <path
                        d="M79.724 113.756C81.5821 113.258 82.6349 111.163 82.0756 109.076C81.5163 106.99 79.5566 105.702 77.6986 106.2C75.8405 106.698 74.7876 108.793 75.347 110.88C75.9063 112.967 77.8659 114.254 79.724 113.756Z"
                        fill="#BCBEC0"
                      ></path>
                      <path
                        d="M104.362 107.156C106.221 106.658 107.273 104.562 106.714 102.476C106.155 100.389 104.195 99.1011 102.337 99.5991C100.479 100.097 99.4261 102.193 99.9854 104.279C100.545 106.366 102.504 107.654 104.362 107.156Z"
                        fill="#BCBEC0"
                      ></path>
                      <path
                        d="M100.408 132.395L98.8857 132.805C91.4363 134.793 83.7315 130.644 81.2969 123.331L77.0935 110.694L80.5128 109.572L84.698 122.192C86.549 127.69 92.3481 130.817 97.9557 129.331L99.4784 128.921C104.539 127.562 107.539 122.365 106.18 117.304C106.135 117.122 106.08 116.949 106.016 116.775L101.794 104.074L105.214 102.952L109.435 115.636C111.706 122.502 107.986 129.905 101.12 132.185C100.883 132.258 100.646 132.331 100.408 132.395Z"
                        fill="#BCBEC0"
                      ></path>
                      <path
                        d="M49.5295 63.0152L88.8011 50.6693C98.1654 47.7241 108.15 52.9306 111.095 62.2948L125.073 106.736L51.8819 129.75L37.9039 85.3089C34.9587 75.9446 40.1652 65.9603 49.5295 63.0152Z"
                        fill="#E04D4C"
                      ></path>
                      <path
                        d="M64.4193 58.3376L100.235 47.0767C110.557 43.8307 121.553 49.566 124.799 59.8876L138.23 102.597L65.0394 125.611L51.6084 82.9017C48.3624 72.58 54.0976 61.5836 64.4193 58.3376Z"
                        fill="#F37E7C"
                      ></path>
                      <path
                        d="M89.5282 110.008C91.3863 109.51 92.4391 107.415 91.8798 105.328C91.3205 103.241 89.3608 101.954 87.5028 102.452C85.6447 102.95 84.5918 105.045 85.1512 107.132C85.7105 109.218 87.6702 110.506 89.5282 110.008Z"
                        fill="black"
                      ></path>
                      <path
                        d="M114.164 103.399C116.022 102.901 117.075 100.805 116.516 98.7186C115.957 96.6319 113.997 95.344 112.139 95.8421C110.281 96.3401 109.228 98.4354 109.787 100.522C110.346 102.609 112.306 103.897 114.164 103.399Z"
                        fill="black"
                      ></path>
                      <path
                        d="M110.201 128.638L108.678 129.048C101.229 131.036 93.5242 126.887 91.0897 119.575L86.8862 106.937L90.3055 105.815L94.4907 118.435C96.3417 123.933 102.141 127.061 107.748 125.574L109.271 125.164C114.332 123.805 117.332 118.608 115.973 113.548C115.927 113.365 115.873 113.192 115.809 113.019L111.587 100.317L115.006 99.1957L119.228 111.879C121.499 118.745 117.778 126.149 110.912 128.428C110.675 128.501 110.438 128.574 110.201 128.638Z"
                        fill="black"
                      ></path>
                      <path
                        d="M53.1403 14.6528C53.7968 14.1057 74.5222 0 74.5222 0L78.8715 21.6555L90.8071 14.3975L82.227 67.6471L75.1513 37.3204L60.2159 45.1254L53.1403 14.6528Z"
                        fill="white"
                      ></path>
                      <path
                        d="M103.472 4.32196L121.088 10.0755L95.6489 38.9342L103.472 4.32196Z"
                        fill="white"
                      ></path>
                    </g>
                    <defs>
                      <clipPath id="clip0_3039_24342">
                        <rect width="181.605" height="186" fill="white"></rect>
                      </clipPath>
                    </defs>
                  </svg>
                  <h3><strong>Your Cart is Empty</strong></h3>
                  <!-- <h4>Add something to make me happy</h4> -->
                  <a
                    href="/home"
                    class="btn btn-dark cart-btn-transform m-3"
                    data-abc="true"
                    >continue shopping</a
                  >
                </div>
              </div>
              <% } %>
            </div>
          </div>
        </div>
      </div>
    </section>

    <script>
      function removeFromCart(productId, cartId) {
        console.log("this the data", productId, cartId);

        if (
          confirm("Are you sure you want to remove this item from your cart?")
        ) {
          fetch("/removeFromCart/" + productId, {
            method: "post",
            headers: {
              "Content-Type": "application/json",
            },

            body: JSON.stringify({
              productId: productId,
              cartId: cartId,
            }),
          })
            .then((response) => response.json())
            .then((data) => {
              if (data.success) {
                // Reload the page or update the cart UI as needed
                window.location.reload();
              } else {
                console.error(
                  "Error removing product from the cart:",
                  data.message
                );
              }
            })
            .catch((error) => {
              console.error("Error removing product from the cart:", error);
            });
        }
      }
      function showErrorMessage(message) {
        // Set the error message in the modal
        document.getElementById("errorModalMessage").textContent = message;

        // Show the modal
        var errorModal = new bootstrap.Modal(
          document.getElementById("errorModal")
        );
        errorModal.show();
      }
      document
        .getElementById("closeErrorModal")
        .addEventListener("click", function () {
          var errorModal = new bootstrap.Modal(
            document.getElementById("errorModal")
          );
          errorModal.hide();
        });

      function updateQuantity(productId, count, cartId) {
        var quantityElement = document.getElementById("quantity-" + productId);
        var currentQuantity = parseInt(quantityElement.value, 10);

        if (count === 1) {
          currentQuantity += 1;
          quantityElement.value = currentQuantity;
        } else if (count === -1 && currentQuantity > 1) {
          currentQuantity -= 1;
          quantityElement.value = currentQuantity;
        }
        fetch("/updatequantity", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            productId: productId,
            quantity: currentQuantity,
            cartId: cartId,
          }),
        })
          .then((response) => {
            return response.json();
          })
          .then((data) => {
            console.log(data, "Response from the server");
            window.location.reload();
          })
          .catch((error) => {
            console.log(error, "error from updating quantity function");
            window.location.reload();
          });
      }

      function decrementQuantity(productId, cartId) {
        updateQuantity(productId, -1, cartId);
      }

      function incrementQuantity(productId, cartId, maxQuantity) {
        var quantityElement = document.getElementById("quantity-" + productId);
        var currentQuantity = parseInt(quantityElement.value, 10);

        if (currentQuantity < maxQuantity && currentQuantity < 10) {
          updateQuantity(productId, +1, cartId);
          showAlert("Quantity incremented successfully", "success");
        } else {
          if (currentQuantity >= 10) {
            showErrorMessage(
              "Cannot add more items. Maximum quantity reached (10)."
            );
          } else {
            showErrorMessage(
              "Cannot add more items. Maximum quantity reached."
            );
          }
        }
      }
      function updateCartUI() {
        var cartEmpty = ` <%= product.length === 0 %>`;

        if (cartEmpty) {
          document.querySelector(".btn-success").disabled = true;
        }
      }
      updateCartUI();
    </script>
    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
    <div class="modal fade" id="errorModal" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Attention</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p id="errorModalMessage" class="text-danger"></p>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              id="closeErrorModal"
              data-dismiss="modal"
              aria-label="Close"
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
