<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css"
    />
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.css"
      integrity="sha512-rGvJ5lczbaFoKILqW+GoJ4u3uqnn+8UEIzzVfTOY+TH+kYYkujWxlX+J+BRDpnLMOzTgKGhoEGqF1UzK7TU5fg=="
      crossorigin="anonymous"
    />

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.js"
      integrity="sha512-FJ1dO8RVYTbj+8V0I7Kv6A/l5epg9GYptxFrHKqY4IjMmI/DtZDyLPQwSGx5fF2iU8oEzhZZDD6T0VotzafHHQ=="
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/css/profile.css" />

    <title>profile</title>
  </head>
  <body style="background-color: #eee">
    <%- include('./partial/header') %>
    <section>
      <div class="container py-5">
        <div class="row">
          <%-include('./partial/sidebar-profile')%>

          <div class="col-lg-8">
            <div class="card mb-4">
              <div class="card-body">
                <div class="card mb-4">
                  <div class="card-body text-center">
                    <img
                      src="<%=userdata.profileImage%>"
                      alt="avatar"
                      class="rounded-circle img-fluid"
                      style="width: 150px"
                    />

                    <h5 class="my-3">
                      <%= userdata ? userdata.name : 'N/A' %>
                    </h5>
                    <!-- <p class="text-muted mb-1">Full Stack Developer</p> -->
                    <!-- <p class="text-muted mb-4">Bay Area, San Francisco, CA</p> -->
                  </div>
                </div>
                <div>
                  <p class="edit-button">
                    <button
                      type="button"
                      class="btn"
                      style="padding: 0%"
                      data-toggle="modal"
                      data-target="#editProfileModal"
                    >
                      Edit
                    </button>
                    <!-- <img src=/photos/defaultprofile.jpeg" alt=""> -->
                  </p>
                </div>
                <div class="row mt-0">
                  <div class="col-sm-3">
                    <p class="mb-1 mt-0">Full Name:</p>
                  </div>
                  <div class="col-sm-9">
                    <p class="text-muted mb-1">
                      <%= userdata ? userdata.name : 'N/A' %>
                    </p>
                  </div>
                </div>
                <hr />
                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-1">Email:</p>
                  </div>
                  <div class="col-sm-9">
                    <p class="text-muted mb-1"><%=userdata.email%></p>
                  </div>
                </div>
                <hr />
                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-1">Phone number:</p>
                  </div>
                  <div class="col-sm-9">
                    <p class="text-muted mb-1">
                      <%=userdata ?userdata.phonenumber : 'N/A'%>
                    </p>
                  </div>
                </div>
                <div class="row"></div>
                <hr />

                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">Referal link:</p>
                  </div>
                  <div class="col-sm-9 d-flex">
                    <p
                      class="text-primary"
                      id="openModalLink"
                      style="cursor: pointer; text-decoration: underline"
                    >
                      Referralcode
                    </p>
                  </div>

                  <div style="margin-left: 150px; font-size: 11px"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div
      class="modal fade"
      id="referralModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Referral Code</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p class="text-primary mb-0" id="referralCode">
              arooma.shop/login?id=<%=userdata.Referalcode%>
            </p>
            <p class="text-muted mt-0 mb-0" style="font-size: 12px">
              ask your friend to signup with this link and earn rewards!
            </p>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              style="
                background-color: #a70f0f;
                color: #eee;
                border-color: #853a3a;
              "
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button>
            <button
              type="button"
              data-dismiss="modal"
              class="btn btn-primary"
              style="
                background-color: #000000;
                color: #eee;
                border-color: #000000;
              "
              onclick="copyReferralCode()"
            >
              Copy Code
            </button>
          </div>
        </div>
      </div>
    </div>

    <div
      class="modal fade"
      id="logoutModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="logoutModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="logoutModalLabel">Confirm Logout</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">Are you sure you want to logout?</div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Cancel
            </button>
            <a href="/logout" class="btn btn-danger">Logout</a>
          </div>
        </div>
      </div>
    </div>
    <!-- At the end of the body, before the closing </body> tag -->
    <div
      class="modal fade"
      id="editProfileModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="editProfileModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="editProfileModalLabel">Edit Profile</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <!-- Your edit profile form goes here -->
            <form
              action="/editprofile"
              method="POST"
              enctype="multipart/form-data"
              onsubmit="return validateForm()"
            >
              <div class="form-group">
                <label for="editProfilePhoto">Profile Photo</label>
                <input
                  type="file"
                  class="form-control-file"
                  id="editProfilePhoto"
                  name="editProfilePhoto"
                  accept="image/*"
                />
                <img
                  class="mt-3"
                  id="profileImage"
                  src="<%=userdata.profileImage%>"
                  alt="avatar"
                  class="rounded-circle img-fluid"
                  style="width: 150px"
                />
                <small id="imageError" class="text-danger"></small>
              </div>

              <!-- Name -->

              <div class="form-group">
                <label for="editName">Full Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="editName"
                  name="editName"
                  value="<%= userdata ? userdata.name : '' %>"
                  required
                />
                <small id="nameError" class="text-danger"></small>
              </div>

              <!-- Email -->
              <div class="form-group">
                <label for="editEmail">Email</label>
                <input
                  type="email"
                  class="form-control"
                  id="editEmail"
                  name="editEmail"
                  inputmode="email"
                  value="<%= userdata ? userdata.email : '' %>"
                  readonly
                />
              </div>

              <!-- Phone Number -->
              <div class="form-group">
                <label for="editPhoneNumber">Phone Number</label>
                <input
                  type="tel"
                  class="form-control"
                  id="editPhoneNumber"
                  name="editPhoneNumber"
                  inputmode="tel"
                  value="<%= userdata ? userdata.phonenumber : '' %>"
                  readonly
                />
              </div>

              <button
                type="submit"
                class="btn"
                style="background-color: #000000; color: white"
              >
                Save Changes
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <%- include('./partial/footer') %>
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/toastify-js"
    ></script>
    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/toastify-js"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const editIcon = document.querySelector(".edit-icon");
        const profileImageInput = document.getElementById("profileImageInput");

        editIcon.addEventListener("click", function () {
          profileImageInput.click();
        });
      });
    </script>
    <script>
      function validateForm() {
        // Custom validation for the name
        const nameInput = document.getElementById("editName");
        const nameError = document.getElementById("nameError");
        const nameRegex = /^[a-zA-Z\s]+$/;

        if (!nameRegex.test(nameInput.value.trim())) {
          nameError.textContent =
            "Invalid name. Only letters and spaces are allowed.";
          return false;
        } else if (nameInput.value.trim().length > 12) {
          nameError.textContent = "Name cannot be more than 12 characters.";
          return false;
        } else {
          nameError.textContent = "";
        }

        // Image validation logic
        const imagesInput = document.getElementById("editProfilePhoto");
        const imageError = document.getElementById("imageError");
        const profileImage = document.getElementById("profileImage");

        if (imagesInput.files.length === 0) {
          imageError.textContent = "Please select at least one image";
          return false;
        } else {
          const allowedExtensions = ["jpg", "jpeg", "png", "gif", "webp"];
          const invalidFiles = Array.from(imagesInput.files).filter((file) => {
            const extension = file.name.split(".").pop().toLowerCase();
            return !allowedExtensions.includes(extension);
          });

          if (invalidFiles.length > 0) {
            imageError.textContent =
              "Please select only image files (jpg, jpeg, png, gif, webp)";
            return false;
          } else {
            imageError.textContent = "";

            // Display the selected image (optional)
            if (imagesInput.files[0]) {
              const reader = new FileReader();
              reader.onload = function (e) {
                profileImage.src = e.target.result;
              };
              reader.readAsDataURL(imagesInput.files[0]);
            }
          }
        }

        // If all validations pass, return true
        return true;
      }
    </script>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const profileImage = document.getElementById("profileImage");
        const cropper = new Cropper(profileImage, {
          zoomable: true,
          scalable: true,
          aspectRatio: 1,
          viewMode: 1,
        });
      });
      function copyReferralCode() {
        const referralCodeElement = document.getElementById("referralCode");
        const referralCode = referralCodeElement.innerText;
        const tempInput = document.createElement("input");
        tempInput.value = referralCode;
        document.body.appendChild(tempInput);
        tempInput.select();
        document.execCommand("copy");
        document.body.removeChild(tempInput);
        Toastify({
          text: "Referral code copied to clipboard!",
          className: "info",
          close: true,
          style: {
            background: "#000",
            color: "#fff",
          },
        }).showToast();
      }
    </script>
    <script>
      // JavaScript function to open the modal
      document
        .getElementById("openModalLink")
        .addEventListener("click", function () {
          $("#referralModal").modal("show");
        });
    </script>
  </body>
</html>
