<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/wallet.css" />

    <title>acccount details</title>
  </head>
  <body style="background-color: #eee">
    <%- include('./partial/header') %>
    <section>
      <div class="container py-5">
        <div class="row">
          <%-include('./partial/sidebar-profile')%>

          <!-- Modal -->
          <div
            class="modal fade"
            id="addmoney"
            tabindex="-1"
            role="dialog"
            aria-labelledby="exampleModalLongTitle"
            aria-hidden="true"
          >
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">
                    Add Money to Wallet
                  </h5>
                  <button
                    type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close"
                  >
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form id="addMoneyForm">
                    <div class="form-group">
                      <label for="amount">Amount:</label>
                      <input
                        type="number"
                        class="form-control"
                        id="amount"
                        name="amount"
                        placeholder="Enter amount"
                        required
                      />
                    </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-secondary"
                    data-dismiss="modal"
                  >
                    Close
                  </button>
                  <button
                    type="button"
                    style="background-color: black; color: #eee"
                    class="btn btn"
                    onclick="addMoney()"
                    data-dismiss="modal"
                  >
                    Add Money
                  </button>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-8">
            <div class="card mb-4">
              <div class="card-body">
                <div class="card mb-4">
                  <div
                    class="d-flex justify-content-between align-items-center mt-3"
                  >
                    <!-- <h3 class="ml-3 mt-3" style="color: #000000">WALLET</h3> -->
                  </div>

                  <section class="h-100 gradient-custom">
                    <div class="card-body p-4">
                      <div class="card shadow-0 border mb-4">
                        <div class="card-body-wallet">
                          <div class="d-flex">
                            <div>
                              <div
                                class="text-uppercase"
                                style="color: rgb(56, 32, 32)"
                              >
                                <span
                                  style="
                                    font-size: 49px;
                                    font-weight: bold;
                                    color: rgb(250, 132, 89);
                                  "
                                  class="ml-3"
                                >
                                  ₹<%= walletinfo && walletinfo.Account_balance
                                  ? walletinfo.Account_balance.toFixed(2) :
                                  '0.00' %></span
                                >

                                <p
                                  style="color: orange; font-weight: 600"
                                  class="ml-4"
                                >
                                  current wallet balance
                                </p>
                              </div>
                              <p class="text-muted text-uppercase"></p>
                            </div>

                            <div
                              style="margin-left: 120px; margin-top: 23px"
                            ></div>
                            <div style="margin-top: 33px">
                              <button
                                class="addbutton p-2"
                                data-toggle="modal"
                                data-target="#addmoney"
                                class="btn btn-dark order-details-btn"
                                style="
                                  background-color: rgb(246, 131, 89);
                                  border: none;
                                  border-radius: 14px;
                                "
                              >
                                <div
                                  href="/"
                                  class="text-light"
                                  style="font-size: 15px"
                                >
                                  <svg
                                    style="color: rgb(253, 253, 253)"
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="30"
                                    height="30"
                                    fill="currentColor"
                                    class="bi bi-plus"
                                    viewBox="0 0 16 16"
                                  >
                                    <path
                                      d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"
                                    />
                                  </svg>
                                  ADD MONEY
                                </div>
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>

                      <!-- <hr /> -->
                      <p
                        class="mt-5 mb-4"
                        style="
                          font-size: 17px;
                          font-weight: 500;
                          margin-top: 9px;
                        "
                      >
                        Transaction history
                      </p>

                      <hr />
                      <%if(walletinfo){ %> <%
                      walletinfo.Transactions.forEach((value)=>{%>
                      <div
                        class="row mb-4 d-flex justify-content-between align-items-center"
                      >
                        <!-- Left Column -->
                        <div class="col-md-6 col-lg-6 col-xl-6">
                          <h6 class="mb-2 text-uppercase">
                            <%=value.Transaction_type%>
                          </h6>
                          <h6 class="text-muted" style="font-size: 14px">
                            Status : <span class="text-success">Success</span>
                          </h6>
                          <h6 class="text-muted" style="font-size: 14px">
                            <%-value.Description%>
                          </h6>
                        </div>

                        <!-- Right Column -->
                        <div
                          class="col-md-6 col-lg-6 col-xl-6 d-flex justify-content-end"
                        >
                          <div>
                            <h6 class="mb-2">
                              <%= value.Date.toLocaleDateString('en-US', { day:
                              'numeric' , month: 'short' , year: 'numeric' }) %>
                            </h6>
                            <p class="mb-2 text-success text-end">
                              &#8377; <%=value.Amount%>
                            </p>
                          </div>
                        </div>
                      </div>

                      <hr />
                      <%})%> <% }%>
                    </div>
                  </section>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <div
      class="modal fade"
      id="logoutModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="logoutModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="logoutModalLabel">Confirm Logout</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">Are you sure you want to logout?</div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Cancel
            </button>
            <a href="/logout" class="btn btn-danger">Logout</a>
          </div>
        </div>
      </div>
    </div>
    <%- include('./partial/footer') %>
    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
    <script src="https://checkout.razorpay.com/v1/upi.js"></script>

    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>

    <script>
      function addMoney() {
        const amount = document.getElementById("amount").value;

        // alert("Adding money:", amount);

        fetch("/razorpay/wallet", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({ amount: parseFloat(amount) }),
        })
          .then((response) => response.json())
          .then((order) => {
            // alert(amount);
            const options = {
              key: "rzp_test_sFW0lvsM9VcWEf",
              amount: amount * 100,
              currency: "INR",
              order_id: order.id,
              name: "AROMA",
              name: "AROMA",
              description: "Add money to wallet",
              theme: {
                color: "#000000", // Set color to black
              },

              handler: function (response) {
                console.log("Payment successful:", response);

                // alert("in handler function");
                // alert("calling the add money to wallet fetch");

                fetch("/addMoneyToWallet", {
                  method: "POST",
                  headers: {
                    "Content-Type": "application/json",
                  },
                  body: JSON.stringify({ amount: parseFloat(amount) }),
                })
                  .then((response) => {
                    console.log("Raw response:", response);
                    return response.json();
                  })
                  .then((data) => {
                    console.log("Wallet updated successfully:", data);
                    window.location.reload();
                    // alert("success");
                  })
                  .catch((error) => {
                    console.error("Error updating wallet:", error);
                    // alert("alert from catch");
                  })
                  .finally(() => {
                    window.location.reload();
                  });
              },
            };

            const rzp = new Razorpay(options);
            rzp.open();
          })
          .catch((error) => {
            console.error("Error creating Razorpay order:", error);
            // alert(error, "error from adding money to wallet");
          });
      }
    </script>
  </body>
</html>
