<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css"
    />

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/wishlist.css" />

    <title>WISHLIST</title>
  </head>
  <body>
    <%- include('./partial/header') %>
    <h2 class="text-uppercase text-center mt-5">My Wishlist</h2>

    <div>
      <div class="container mt-5">
        <div class="row" id="productListContainer">
          <% if(wishListData && wishListData.length > 0) { %> <%
          wishListData.forEach((wishlistItem) => { %> <%
          wishlistItem.Product.forEach((product) => { %>
          <div
            class="col-lg-3 col-md-4 col-sm-6 mb-4"
            id="<%-product.Product_id._id%>"
          >
            <a
              onclick="window.location.href='/products?id=<%= product.Product_id._id %>'"
              class="text-decoration-none"
            >
              <div class="product-box">
                <img
                  src="<%= product.Product_id.image[0] %>"
                  alt="<%= product.Product_id.name %>"
                  width="160"
                  height="160"
                />
                <h2 class="product-title text-uppercase">
                  <%= product.Product_id.name %>
                </h2>
                <p class="product-description text-uppercase">
                  <%= product.Product_id.description %>
                </p>
                <% if (product.Product_id.discountexpiryDate &&
                product.Product_id.discountexpiryDate > new Date()) { %>
                <!-- Display the discounted price -->
                <p class="product-discounted-price product-price">
                  &#8377;<%= product.Product_id.price -
                  product.Product_id.discountprice %>
                </p>
                <p
                  class="original-price m-0 p-0 text-muted"
                  style="font-size: 14px; text-decoration: line-through"
                >
                  &#8377;<%= product.Product_id.price %>
                </p>
                <% } else { %>
                <!-- Display the regular price when there is no active offer -->
                <p class="product-price">
                  &#8377;<%= product.Product_id.price %>
                </p>
                <% } %>
                <!-- <a class="add-to-cart">View details</a> -->
                <% if (product.Product_id.stock <= 0) { %>
                <p class="out-of-stock-message text-danger">Out of Stock</p>

                <% } %>

                <div class="button-container mt-3">
                  <% if (product.Product_id.stock <= 0) { %>
                  <button
                    class="add-to-cart-btn btn"
                    id="addToCartButton"
                    disabled
                  >
                    Add to Cart
                  </button>
                  <% } else { %>
                  <button
                    class="add-to-cart-btn btn"
                    id="addToCartButton"
                    onclick="addtocart('<%=product.Product_id._id%>',event)"
                  >
                    Add to Cart
                  </button>
                  <% } %>

                  <button
                    class="delete-btn btn"
                    onclick="remove('<%=product.Product_id._id%>',event)"
                  >
                    Remove
                  </button>
                </div>
              </div>
            </a>
          </div>

          <% }) %> <% }) %> <% }else{ %>
          <h2>No products in wishlist</h2>
          <% }%>
        </div>
      </div>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/toastify-js"
    ></script>
    <script>
      //same function of adding product from product detail page
      function addtocart(productId, event) {
        event.stopPropagation();
        var requestData = {
          key: productId,
        };

        fetch(`/add-to-cart?productId=${requestData.key}`)
          .then((response) => response.json())
          .then((data) => {
            swal({
              title: "",
              text: "Product added to cart!",
              icon: "success",
              timer: 2000,
              showConfirmButton: false,
            });
          })
          .catch((error) => {
            console.error(error);
            // Handle the error (e.g., show an error message)
            Swal.fire({
              icon: "error",
              title: "Error",
              text: "Failed to add the product to the cart.",
            });
          });
      }

      function remove(productId, event) {
        event.stopPropagation();
        if (
          confirm("Are you sure you want to remove this item from whishlist?")
        ) {
          fetch(`/remove-from-wishlist/${productId}`, {
            method: "DELETE",
          })
            .then((response) => response.json())
            .then((data) => {
              if (data.message) {
                document.getElementById(productId).style.display = "none";
                console.log("product removed from wishlist");
              } else {
                console.error(
                  "Error removing product from wishlist:",
                  data.error
                );
              }
            })
            .catch((error) => {
              console.error("Error removing product from wishlist:", error);
            });
        }
      }
    </script>
  </body>
</html>
